<app-modal *ngIf="isVisible$|async">
  <div modal-header>
    <h1>New Expense</h1>
  </div>
  <div modal-body>
    <app-new-expense-form></app-new-expense-form>
  </div>
</app-modal>
<div class="expenses-card-container" *ngIf="!(showCharts$|async)">
  <app-expense-details *ngFor="let expense of expenses" [expenseDetails]="expense"></app-expense-details>
</div>
<div class="chart-container" *ngIf="showCharts$ | async">
  <h1 nz-typography nzType="success">Expenses Pie Chart</h1>
  <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels" [options]="pieChartOptions"
    [plugins]="pieChartPlugins" [legend]="pieChartLegend">
  </canvas>

</div>