<nz-layout>
  <nz-sider [nzCollapsedWidth]="0" nzCollapsible [(nzCollapsed)]="isToggle" [nzTrigger]="null">
    <app-sidemenu></app-sidemenu>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <nz-layout>

        <div class="header-container">
          <span class="trigger" nz-icon [nzType]="isToggle ? 'menu-unfold' : 'menu-fold'"
            (click)="setIsToggle()"></span>
          <div class="dashboard-header">
            <app-dashboard-header></app-dashboard-header>
          </div>
          <div class="logout">
            <button (click)="logout()" nz-button nzType="primary" nzGhost>Logout</button>
          </div>

        </div>

      </nz-layout>
    </nz-header>
    <nz-layout>
      <nz-content>
        <div class="dashboard-content">
          <div class="expense-button-container">
            <button *ngIf="!(showCharts$|async)" class="new-expense-btn" nzShape="round" nz-button nzType="primary"
              (click)="openModal()"><span nz-icon nzType="plus"></span></button>
            <button *ngIf="!(showCharts$|async)" class="new-expense-btn" nzShape="round" nz-button nzType="primary"
              (click)="showCharts()"><span nz-icon nzType="pie-chart" nzTheme="fill"></span></button>
            <button *ngIf="(showCharts$|async)" class="new-expense-btn" nzShape="round" nz-button nzType="primary"
              (click)="showDashboard()"><span nz-icon nzType="dashboard" nzTheme="fill"></span></button>
          </div>
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
    <nz-layout>
      <nz-footer>Expenses Tracker By Freddys Escobar </nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>